UROP_proposal.pdf
test_old.py
.env
.venv/
*.pyc
__pycache__/
Long_Parhi_Analogical_Reasoning_Benchmark.aux
Long_Parhi_Analogical_Reasoning_Benchmark.log
Long_Parhi_Analogical_Reasoning_Benchmark.out
Long_Parhi_Analogical_Reasoning_Benchmark.pdf
Long_Parhi_Analogical_Reasoning_Benchmark.tex
logs/